@*@model RealEstate.Models.Address*@

@using Newtonsoft.Json
@using RealEstate.Models
@{
    List<SelectListItem> selectCountry = new List<SelectListItem>();
    List<SelectListItem> selectCity = new List<SelectListItem>();
    List<SelectListItem> selectTown = new List<SelectListItem>();
    if (ViewBag.countries != null)
    {
        List<AddressCountry> countries = JsonConvert.DeserializeObject<List<AddressCountry>>(ViewBag.countries);

        foreach (AddressCountry country in countries)
        {
            SelectListItem si = new SelectListItem();
            si.Text = country.Name;
            si.Value = country.ID.ToString();
            selectCountry.Add(si);
        }
    }
}

<form action="/Address/Add" method="post" id = "addform" >
    <input name="__RequestVerificationToken" type="hidden" />
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Add Address</h4>
        <hr />

        <div class="col-md-10">
            <label class="control-label col-md-2" for="Details">Country</label>
            <select class="form-check form-select" data-val="true" data-val-number="The field CountryID must be a number." data-val-required="CountryID alanı gereklidir." id="CountryID" name="CountryID">
                <option class="form form-control" value="1">Turkey</option>
                <option class="form form-control" value="2">Italy</option>
                <option class="form form-control" value="3">Egypt</option>
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="CountryID" data-valmsg-replace="true"></span>
        </div>
        <div class="col-md-10">
            <label class="control-label col-md-2" for="Details">City</label>
            <select class="form-check form-select" data-val="true" data-val-number="The field CityID must be a number." data-val-required="CityID alanı gereklidir." id="CityID" name="CityID"></select>
            <span class="field-validation-valid text-danger" data-valmsg-for="CityID" data-valmsg-replace="true"></span>
        </div>
        <div class="col-md-10">
            <label class="control-label col-md-2" for="Details">Town</label>
            <select class="form-check form-select" data-val="true" data-val-number="The field TownID must be a number." data-val-required="TownID alanı gereklidir." id="TownID" name="TownID"></select>
            <span class="field-validation-valid text-danger" data-valmsg-for="TownID" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Details">Details</label>
            <div class="col-md-10">
                <textarea class="form form-control"  cols="20" htmlAttributes="{ class = form-control }" id="Details" name="Details" rows="2">
</textarea>
                <span class="field-validation-valid text-danger" data-valmsg-for="Details" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="from form-control btn btn-success" />
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(() => {
        //To change city list when country change
        $('#CountryID').on('change', function (e) {

            var selectedid = $("option:selected", this).val();
            //console.log(selectedid);
            var address = '/Address/GetCities/' + selectedid + '';
            $.getJSON(address, function (data) {
                //console.log(data);
                data = data.replace("[", "");
                data = data.replace("]", "");
                data = data.replace(/\},{/g, "}...{");
                datas = data.split("...");
                $("#CityID").html("");

                $.each(datas, function (i, value) {
                    //console.log(value);
                    var city = JSON.parse(value);
                    //console.log(city.ID);
                    //console.log(city.Name);
                    //console.log(city.CountryID);
                    $("#CityID").append("<option value='" + city.ID + "'>" + city.Name + "</option>");
                });
            });

            setTimeout(
                function () {
                    $('#CityID').change();
                }, 400);
        });

        //To change town list when city change
        $('#CityID').on('change', function (e) {
            var selectedid = $("option:selected", this).val();
            //console.log(selectedid);
            var address = '/Address/GetTowns/' + selectedid + '';
            $.getJSON(address, function (data) {
                data = data.replace("[", "");
                data = data.replace("]", "");
                data = data.replace(/\},{/g, "}...{");
                datas = data.split("...");
                $("#TownID").html("");

                $.each(datas, function (i, value) {
                    //console.log(value);
                    var town = JSON.parse(value);
                    //console.log(town.ID);
                    //console.log(town.Name);
                    //console.log(town.CityID);
                    $("#TownID").append("<option value='" + town.ID + "'>" + town.Name + "</option>");
                });
            });

        });

        $('#CountryID').change();


        $("#addform").submit(function (event) {
            var formData = {
                CountryID: $("#CountryID").val(),
                CityID: $("#CityID").val(),
                TownID: $("#TownID").val(),
                Details: $("#Details").val(),
            };
            var post_url = "/Address/Add"
            $.ajax({
                type: "POST",
                url: post_url,
                data: formData,
                dataType: "json",
                encode: true,
                success: function (insertedid) {
                    if (insertedid > 0) {
                        location.reload();
                    }
                }
            });

            event.preventDefault();
        });

    });
    //location.reload();
</script>